@charset "UTF-8";

/*
 PALETA DE CORES
 Azul claro: #A4B7E6
 Azul 1-: #738DCE
 Azul: #4F6CB6
 Azul 2+: #3454A3
 Azul escuro: #1B3B8C
*/

/*Pesquise sobre: Typical Device Breakpoints

Pequenas telas:  max-width: 0px      -     599px
Celular:         min-width: 600px    -     766px
Tablet:          min-width: 767px    -     990px
Desktop:         min-width: 991px    -     1199px
Grandes telas:   min-width: 1200px   -     +++
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body,
html {
    background-color: #A4B7E6;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;

}

section#login {
    background-color: aliceblue;
    width: 350px;
    height: 500px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.412);
}

section#login>div#imagen {
    display: block;
    background-image: url(../Imagens/celular.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
}

section#login>div#formulario {
    display: block;
    padding: 10px;

}

div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario>p {
    font-size: 0.8em;

}

form>div.campo {
    background-color: #4F6CB6;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0px;

}

form>div.campo>span {
    color: #ffffff;
    font-size: 2em;

}

div.campo>label {
    display: none;
}


/*a baixo temos as configurações do botão de enviar.*/

form>input[type=submit] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    display: block;
    background-color: #A4B7E6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form>input[type=submit]:hover {
    background-color: #8799c5;

}

/*a baixo nos temos as configurações do botão de "esqueci minha senha".*/

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 5px;
    border: 1px solid #A4B7E6;
    text-decoration: none;
    color: #A4B7E6;

}

form>a.botao:hover {
    background-color: #A4B7E6;
    color: white;

}

form>a.botao>span {
    font-size: 0.8em;
}