@charset "UTF-8";

/*
 PALETA DE CORES
 Azul claro: #A4B7E6
 Azul 1-: #738DCE
 Azul: #4F6CB6
 Azul 2+: #3454A3
 Azul escuro: #1B3B8C
*/

/*Pesquise sobre: Typical Device Breakpoints

Pequenas telas:  max-width: 0px      -     599px
Celular:         min-width: 600px    -     766px
Tablet:          min-width: 767px    -     990px
Desktop:         min-width: 991px    -     1199px
Grandes telas:   min-width: 1200px   -     +++
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    background-color: #A4B7E6;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: aliceblue;
    width: 350px;
    height: 500px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.412);
}

section#login>div#imagen {
    display: block;
    background-image: url(../Imagens/celular.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
}

section#login>div#formulario {
    display: block;

}

div#formulario>h1 {
    text-align: center;
    margin: 10px;

}

div#formulario>p {
    font-size: 0.8em;
}